body {}

/*////////////////////			index page 			////////////////////*/
.bg_color_blue {
	background: #3D4A89;
}

.page.index {
	color: #f7f7f7;
	font-family: bold;
	margin-top: 50%;
}

.page.index .yes_btn {
	width: 30%;
}


.page.index .no_btn {
	width: 30%;
}

.page.index .my_name {
	font-size: 10px;
	text-align: center;
	margin-top: 10px;
}

/*////////////////////			page home 			////////////////////*/

.page.home {
	color: #f7f7f7;
}

.page.home img {
	
}





/*////////////////////			page header 			////////////////////*/

.page.header .back_button  a {
	margin-bottom: 10px;
	margin-top: 10px;
}

.page.header .text {
	margin-top: 13px;
	color: #FFF;
	font-family: bold;
	font-size: 20px;
	text-align: center;
}

.page.header .text .glyphicon {
	font-size: 11px;
}







/*////////////////////			page menu 			////////////////////*/
.page.menu .Color_1 {
	background: #90B4ED;
	height: 120px;
	text-align: center;  
}

.page.menu .Color_1 .glyphicon {
	font-size: 60px;
	color: #FFF;
	margin-top: 15px;
	padding-right: 13px;
}

.page.menu .Color_1 p {
	font-size: 20px;
	font-family: bold;
	color: #FFF;
}

.page.menu .Color_2 {
	background: #7280D3;
	height: 120px;
	text-align: center;  
}

.page.menu .Color_2 .glyphicon {
	font-size: 60px;
	color: #FFF;
	margin-top: 15px;
	padding-right: 5px;
}

.page.menu .Color_2 p {
	font-size: 20px;
	font-family: bold;
	color: #FFF;
}

.page.menu .Color_3 {
	background: #7A35A8;
	height: 120px;
	text-align: center;  
}

.page.menu .Color_3 .glyphicon {
	font-size: 60px;
	color: #FFF;
	margin-top: 15px;
	padding-right: 5px;
}

.page.menu .Color_3 p {
	font-size: 20px;
	font-family: bold;
	color: #FFF;
}

.page.menu .Color_4 {
	background: #258986;
	height: 120px;
	text-align: center;  
}

.page.menu .Color_4 .glyphicon {
	font-size: 60px;
	color: #FFF;
	margin-top: 15px;
	padding-right: 5px;
}

.page.menu .Color_4 p {
	font-size: 20px;
	font-family: bold;
	color: #FFF;
}




/*////////////////////			page my heart 			////////////////////*/
.page.my_heart .header .glyphicon {
	font-size: 60px;
	color: #FFF;
	margin-top: 30px;
}

.page.my_heart .header p {
	color: #FFF;
	font-size: 20px;
}

.page.my_heart .text {
	color: #FFF;
}






/*////////////////////			page for life 			////////////////////*/
.page.for_life .header {
	color: #FFF;
	font-size: 20px;
	margin-top: 30px;
}

.page.for_life .border_style p {
	color: #FFF;
	font-family: bold;
	padding-right: 20px;
	margin-top: 20px;
}

.page.for_life .border_style table {
	color: #FFF;
	border: 2px solid gray;
	font-size: 12px;
}

.page.for_life .border_style table td {
	padding-left: 10px;
}








/*////////////////////			page setting 			////////////////////*/
.page.setting {
	color: #FFF;
}

.page.setting p	{
	color: #FFF;
	font-size
}

.page.setting table	{
	color: #FFF;
	font-size: 12px;
}

.page.setting table td {
	padding-left: 10px;
}


  





















